/* General styles for navigation, dropdown, and footer */
html, body {
    height: 100%;
    margin: 0;
}


#processing {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
}

#processingheader {
    background-color: #333;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 300px;
    justify-content: space-between;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
    width: 100%;
    max-width: 1200px; /* Adjust based on your layout preference */
}

.card {
    background: #ffffff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card canvas {
    width: 400px; /* or 100% if you want it to be responsive */
    height: 400px;
    /* Add any other styles that were applied to the original canvas */
}


.card-body {
    padding: 20px;
    text-align: center;
}

.card-body p {
    margin: 0;
    padding-bottom: 20px;
}

button {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}






header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* This will push the footer down */
}

nav {
    background-color: #f4f4f4;
    padding: 10px 0;
    text-align: center;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}

nav a:hover {
    background-color: #ddd;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
    margin-top: 10px;
    left: 0;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

section {
    padding: 20px;
}

.canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1; /* Allows the container to grow and fill available space */
}

.content {
    flex: 1;  /* This will push the footer down */
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}
